@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

footer p {
    margin: 3px 0;
}
footer
{
    width: 430px;
    height: max-content;
    background-color: black;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-size: 12px;
    font-style: normal;
    max-width: 100%;
    direction: rtl;
}

footer .footer-container
{
    display: flex;
    padding-inline: 30px;
    padding-top: 20px;
    justify-content: space-between;
}

footer .footer-container .social-links
{
    margin-top: 18px;
    display: flex;
    justify-content: space-between
}
footer .footer-container .social-links a:nth-child(1)::before,
footer .footer-container .social-links a:nth-child(2)::before,
footer .footer-container .social-links a:nth-child(3)::before
{
    position: relative;
}

footer .footer-container .social-links a:nth-child(1)::before
{
    content: url('./images/uil_facebook.svg');
}
footer .footer-container .social-links a:nth-child(2)::before
{
    content: url('./images/uil_instagram.svg');
}
footer .footer-container .social-links a:nth-child(3)::before
{
    content: url('./images/ic_baseline-tiktok.svg');
}


footer .footer-container .contact-details
{
    display: block;
    text-align: left;
}
footer .footer-container #address {
    margin-block: 10px;

}
footer .quick-links a {
    display: block;
    margin-block: 6px;
    text-decoration: none;
    color: white;
}
footer .quick-links {
    width: 100px;
    text-align: left;
}

hr {
    width: 400px;
}

footer .copy_rights
{
    font-size: 10px;
    font-weight: 300;
    box-sizing: border-box;
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
}
footer .developed_by
{
    position: relative;
    padding-block: 10px;
}
.developed_by p
{
    text-align: right;
    position: absolute;
    margin: 0;
    right: 40px;
}