html,
body {
    margin: 0;
    padding: 0;
    background-color: rgba(239, 233, 221, 1);
    scroll-behavior: smooth;
}
@font-face {
    font-family: Montserrat;
    src: url('./Montserrat-VariableFont_wght.ttf');
}

@font-face {
    font-family: expofont;
    src: url('./ExpoArabic-Book.ttf');
}

@font-face {
    font-family: expofontBold;
    src: url('./ExpoArabic-Bold.otf');
  }

.container
{
    display: block;
    margin-top: 20px;
}
.card
{
    margin: 15px 0 20px;
    width: 380px;
    display: flex;
    justify-content: center;
    position: relative;
    margin-inline: auto;
    padding-block: 8px;
    padding-bottom: 180px;
    border-radius: 23px;
    background-color: rgba(255, 255, 255, 1);
}

.card .car-details
{
    width: 96%;
    position: absolute;
    bottom: 20px;
    display: flex;
    align-items: center;
    text-align: end;
    justify-content: space-around;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    font-family: expofont;
    font-size: 16px;
}

.card .car-details .details
{
    width: 40%;
    font-weight: 900;
}
.card .car-details .price
{
    width: 40%;
    font-family: expofont;
    font-weight: 800;
    line-height: 18px;
}

.card .car-details .price .currency
{
    margin: 0;
    font-family: expofontBold;
    font-weight: 900;
    font-size: 22px;
}

.card .car-details .code,
.card .car-details .num,
.number-plate .code,
.number-plate .num
{
    font-family: Montserrat;
    font-optical-sizing: auto;
    font-weight: 700    ;
    font-style: normal;
}

.card .car-details .star
{
    position: relative;
    width: 5%;
}

.card .car-details .star img
{
    position: relative;
    top:-22px;
}

.contact,
#numbers
{
    width: 90%;
    margin-inline: auto;
    display: flex;
    justify-content: space-evenly;
}
.contact
{
    /* position: absolute; */
    width: 100%;
    text-align: center;
    justify-content: center;
    column-gap: 15px;

}
.contact .call-us,
.contact .chat-with-us
{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 47%;
    height: 38px;
    border-radius: 4px;
    background: rgba(25, 37, 64, 1);
    color: white;
    font-family: expofont;
    font-weight: 500;
}

.contact .call-us::before,
.contact .chat-with-us::before
{
    position: relative;
    right: 8px;
    top:2.2px
}

.contact .call-us::before
{
    content: url('./images/tel.png');
}
.contact .chat-with-us::before
{
    content: url('./images/whatsapp.png');
}

#numbers {
    margin-block: 20px;
}
#numbers #car-numbers,
#numbers #bike-numbers 
{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 38px;
    border-radius: 4px;
    background: #192540;
    color: #EBAF29;
    font-family: expofont;
    font-weight: 500;
    font-size: 15px;
}



#numbers #car-numbers::before,
#numbers #bike-numbers::before
{
    position: relative;
    right: 8px;
    top:1px
}

#numbers #car-numbers::before
{
    content: url('./images/mingcute_car-line.png');
    width: 20px;
    height: 26px;
}

#numbers #bike-numbers::before
{
    content: url('./images/pepicons-pencil_motorcycle.svg');
    width: 20px;
    aspect-ratio: 1/1;
}

.number-plate
{
    position: absolute;
    right: 12.5%;
    top: 35%;
}

.number-plate .code
{
    position: absolute;
    font-size: 30px;
    bottom: -22.5px;
    left: 28px;
}
.number-plate .num
{
    position: absolute;
    bottom: -30px;
    left: 35%;
    font-size: 40px;
    letter-spacing: 5px;
}

.add_carnum {
    position: relative;
    width: max-content;
}
.add_carnum .car-image
{
    width: 98%;
    height: 100%;
    filter: brightness(110%) contrast(90%) saturate(120%) sepia(10%);
    background-color: #a37511ec;
}

.add_carnum .content
{
    position: absolute;
    box-sizing: border-box;
    text-align: center;
    bottom: 12.5%;
    left: 7.5%;
}
.add_carnum p {
    margin-block: 10px;
}
.add_carnum .headline,
#questions > .title
{
    font-family: expofontbold;
    color: white;
    font-size: 24px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.616);
}
.add_carnum .logo {
    width: 140px;
    height: 70px;
}

.add_carnum .description,
#questions .description {
    font-family: expofont;
    color: #EBAF29;
    font-size: 14px;
    margin-bottom: 30px;
}

.add_carnum .add {
    width: 380px;
    height: 60px;
    box-sizing: border-box;
    padding: 15px 20px 15px 90px;
    border-radius: 4px;
    font-family: expofont;
    font-weight: 700;
    word-spacing: 1px;
    font-size: 20px;
    background: #192540;
    color: white;
    text-decoration: none;
    position: relative;
}
.add_carnum .add::after {
    position: absolute;
    left: 30px;
    top: 4px;
    content: url('./images/icon-park-twotone_hand-painted-plate.svg');
    width: 44px;
    aspect-ratio: 1/ 1;
}

#questions {
    width: 100%;
    margin-top: 10px;
}

#questions > *
{
    text-align: center;
    display:block;
    margin: 0 auto;  
}

#questions > .title
{
    margin: 20px 0 10px 0;
    text-shadow: none;
    color: #192540;
}

#questions > .description {
    color: #192540;
}

#features
{
    margin-block: 40px;
}

#features .feature p {
    margin: 4px 0;
}
#features .feature
{
    box-sizing: border-box;
    text-align: right;
    width: 90%;
    padding: 10px 100px 10px 0px;
    margin-inline: auto;
    margin-block: 10px;
    border-radius: 10px;
    background-color: #192540;
}

#features .feature .feature-title
{
    font-family: expofont;
    font-weight: 600;
    font-size: 20px;
    color: #EBAF29;
}
#features .feature .feature-description
{
    position: relative;
    color: #898989;
    font-family: expofont;
    font-weight: 500;
    font-size: 16px;
}

#features .feature:nth-child(1)::before
{
    position: absolute;
    transform: translate(20px, 5px);
    width: 40px;
    height: 46px;
    content: url('./images/trophy.svg');
}

#features .feature:nth-child(2)::before
{
    position: absolute;
    transform: translate(20px, 15px);
    width: 48px;
    height: 48px;
    content: url('./images/verified.svg');
}

#features .feature:nth-child(3)::before
{
    position: absolute;
    transform: translate(20px, 2.5px);
    width: 49px;
    height: 49px;
    content: url('./images/call-center.svg');
}